/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* général */
* {
    font-family: "roboto", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}
:root {
    --grey:  #252525;
    --orange: #ff7800;
    --yellow: #ffae00;
    --black: #000;
    --white: #fff;
    --font: "shrikhand", sans-serif;
}
a {
    transition: all 0.2s ease;
    text-decoration: none;
}
h2 {
    font-size: 1.4em;
    font-weight: 700;
}
p {
    font-size: 0.81em;
    font-weight: 300;
}

/* header */
header {
    position: relative;
    box-shadow: 0px 2px 4px 0px #00000026;
    
}
header h1 {
    font-family: "shrikhand", sans-serif;
    color: var(--black);
}
header h1 {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
}
nav {
    position: absolute;
    right: 17px;
    top: 17px;
}
/* main */
.choose h2 {
    margin-bottom: 15px;
}
.choose {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    gap: 10px;
    align-items: center;
}
.choose form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}
center { 
    font-size: 0.81em;
    font-weight: 300;
}
p>span{
    display: none;
}
form input{
    border-radius: 20px;
    background-color: var(--yellow);
    border-style: none;
    box-shadow: 0px 4px 15px 0px #00000026;
    padding: 9px;
    width: 100%;
}
input::placeholder {
    color: var(--black);
    font-size: 1.1em;
}
button{
    border-style: none;
    border-radius: 20px;
    padding: 10px 16px;
    background: linear-gradient(198.58deg, #FF7800 15.56%, #FFAE00 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    font-weight: 500;
    font-size: 0.8em;
}
.works{
    margin: 15px;
}
.works h3{
    padding: 20px;
    box-shadow: 0px 4px 15px 0px #00000026;
    border-radius: 8px;
    background-size: 100%;
    margin: 5px 0;
    width: 100%;
}
.works div {
    display: flex;
    align-items: center;
    position: relative;
}
.works div p{
    font-size:  16px;
    font-weight: 500;
    background-color: var(--orange);
    padding: 3px 7px;
    border-radius: 12px;
    position: absolute;
    top: 24px;
    left: -10px;
}
.professional{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}
.professional article{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius:20px ;
    position: relative;
}
.professional article img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 140px;
    object-fit: cover;
}
.new{
    position: absolute;
    background-color: var(--orange);
    rotate: -45deg;
    top: 19px;
    left: -9px;
    padding: 5px 20px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.1em;
    font-style: italic;
    color: var(--white);
}
.worker{
    border-bottom: 1px solid;
    border-color: var(--yellow);
    padding: 10px;
}
.recommand{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}